.count-digit {
    text-align: center;
    color: #33fe4b;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
span2 {
    color: #33fe4b;
    font-size: 30px;
}
.wow {
    padding-bottom: 70px;
}
